{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}

{% block headSubTitle %}
    {{- 'Onboarding' | trans -}}
{% endblock %}

{% block content %}
    <web-mp-onboarding cloak>
        <h1 title>{{ 'Onboarding' | trans }}</h1>

        <div content>
            <web-spy-card>
                <p>{{ errorMessage | trans }}</p>
                <br>
                <web-spy-button-link url="/merchant-app-merchant-portal-gui/payment-settings" size="lg">
                    {{- 'Back' | trans -}}
                </web-spy-button-link>
            </web-spy-card>
        </div>
    </web-mp-onboarding>
{% endblock %}
