{# Payment step sub-form for Stripe selection. The content which appears when a user select Stipe as a payment method. #}
<p class="stripe-payment-notice">
    {{ 'stripe.payment.selection_message' | trans }}
</p>
